<div class="container-fluid">
	<div class="blog-footer">
		<div class="row">

			<div class="col-xs-2">
			<div class="links"><h4>Links</h4>
				<ul class="list-unstyled linksBelow">
					<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/postBlog">Post Blog</a></li>
					<li><a href="/about">About Me</a></li>
					
				</ul>
			</div>
			</div>

			<div class="col-xs-2">
				<h4>Contact/Social</h4>
				<ul class="list-unstyled contact">
					<li>Phone: 406-546-9059</li>
					<li><a href="mailto:travisjette@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
					<li><a href="https://github.com/tjette"><i class="fa fa-git-square" aria-hidden="true"></i></a></li>
					<li><a href="https://www.linkedin.com/pub/travis-jette/20/101/86a"<i class="fa fa-linkedin-square"></i></a>
          <li><a href="https://twitter.com/travisjette"><i class="fa fa-twitter"></i></a></li>
					</ul>
				</div>
			
		</div>
	</div>
</div>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/1.1.1/js/md5.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
   	 	<script src="./static/bundle.js"></script>
     	<script type="text/jsx" src="./static/blogList.js"></script>
     	<script type="text/jsx" src="./static/blogForm.js"></script>
      <script src="./"
		</body>
		</html>