	<div class="navbar navbar-default navbar-static-top">
	<div class="headerimage">
		<div class="container">	
			<div class="header">

				<a href="/" class="navbar-brand">Travis Jette's Web Development Portfolio</a>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#" data-toggle="dropdown">About Me<span class="caret"></span></a>

						<ul class="dropdown-menu">
							<li><a href="/about">My Story</a></li>
							<li><a href="/contact">Contact</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="https://github.com/tjette">Git Hub</a></li>
							<li><a href="https://twitter.com/travisjette">Twitter</a></li>
							<li><a href="https://www.linkedin.com/pub/travis-jette/20/101/86a">LinkedIn</a></li>
						</ul>
					</li>
					

					<li><a href="projects.html">Projects</a></li>
					<li><a href="/blog">Blog</a></li>

					 <li><a href="/postBlog">Post Blog</a></li>
					
					<li>
					<a href="#" data-toggle="dropdown">Log In <span class="caret"></span></a>

						<ul class="dropdown-menu">
								<li><a href="/login">Log In</a></li>
								<li><a href="/signup">Sign Up</a></li>
								<li><a href="/profile">Profile</a></li>
								<li><a href="/">Log Out</a></li>
						</ul>
					</li>
					
				</ul>
			</div>
		</div>
		</div>
	</div>