	<div class="navbar navbar-default navbar-static-top">
	<div class="headerimage">
		<div class="container">	
			<div class="header">

				<a href="/" class="navbar-brand travis">Travis Jette's Web Development Portfolio</a>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="travis" href="/about">About Me</a>
					</li>
					

					<li><a class="travis" href="/projects">Projects</a></li>
					<li><a class="travis" href="/blog">Blog</a></li>

					
					 <li><a class="travis" href="/postBlog">Post Blog</a></li>
					
					<li>
					<a href="#" class="travis" data-toggle="dropdown">Log In <span class="caret"></span></a>

						<ul class="dropdown-menu">
								<li><a href="/login">Log In</a></li>
								<li><a href="/signup">Sign Up</a></li>
								<li><a href="/profile">Profile</a></li>
								<li><a href="/">Log Out</a></li>
						</ul>
					</li>
					
				</ul>
			</div>
		</div>
		</div>
	</div>