#header {
	background-color: lightblue;
	text-align: center;

}
#header h1 {
	color: yellow;
}

#header p {
	font-size: 70px;
}


.container {
	font-size: 50px;
	background-color: grey;

}

#footer p {
	font-size: 50px;

}

ul {

}

.glyphicon {

}


	bottom-right: 0;
	padding-left: auto;

}



