.Jumbotron {
	background-color: light blue;
}

h1 {
	font-style: italic;
	text-align: center;
}

.container {
	text-align: right;
	font-size: 50px;
	float: right;
}

.img {
	width: 50px;
	height: 50px;
	margin-top: 100px;
	
}

.bottom {
	;

}

ul {

}

.glyphicon {

}

.button {
	position: fixed;
	bottom-right: 0;

}



