#header {
	background-color: light blue;
	text-align: center;
}



.container {
	font-size: 50px;
	background-color: grey;

}

#footer {
	;

}

ul {

}

.glyphicon {

}


	bottom-right: 0;
	padding-left: auto;

}



