<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>

  <header>
    <% include ./partials/header %>
  </header>
 

 <div class="container">
  <div class="jumbotron aboutMe Header">
    <h2>About Me</h2><i class="fa fa-futbol-o fa-3x" aria-hidden="true"></i>
  </div>

 
    <p></p>
  </div>

  
  <footer>
    <% include ./partials/footer %>
  </footer>

</body>
</html>