<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>

  <header>
    <% include ./partials/header %>
  </header>

  <div>
    <h2> Hello World</h2>
  </div>
  
  <footer>
    <% include ./partials/footer %>
  </footer>

</body>
</html>