
<!Doctype html>
<html lang='en'>
<head>
        <% include ./partials/head %>
</head>
<body>
    <header>
        <% include ./partials/header %>
    </header>

    <div class="jumbotron homeImages">
      <img src="/images/juneBug.jpg" class="juneBug individualImages">
      <img src="/images/hugeBull.jpg" class="hugeBull individualImages">
      <img src="/images/missionsHike.jpg" class="missionHike individualImages">
      <img src="" class="">
    </div>

    <div class="flexContainer container">
       <div class="flexItem">
            <h3 class="gitHub">Git Hub History</h3>
            <span id="github"></span>
            <span class="wakatime" id="wakatime"></span>
        </div>
            
    </div>
<footer>
 <% include ./partials/footer %>
</footer>

</body>
</html>
