<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>

  <header>
    <% include ./partials/header %>
  </header>
<div class="container">
  <div class="jumbotron projectsHeader">
    <h2> Under Construction</h2>
    <i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
  </div>
</div>

  
  <footer>
    <% include ./partials/footer %>
  </footer>

</body>
</html>