/*body {
background-color: cadetblue;
padding: 5px 5px 5px 5px;
}
	
.navbar {
border-color: black;
border-width: 2px;
}  

.headerimage {
background-image: url('http://www.re-mg.com/images/home/miz1.gif');
background-repeat: no-repeat;
background-size: 100%;
}  
#header  {
	background-color: cadetblue;
}

.my-button {
	border: 3px solid blue;
}

.blogheader img {
position: relative;
}

.blog-header img {
	height: 200px;
	max-width: 100%;
	margin-bottom: 20px;


}

.blog-header h1 {
	font-size: 100px;
	text-align: center;
}

.main p {
	font-size: 50px;

}
.websites img {
	padding-bottom: 10px;
	padding-top: 10px;
}
.footer {
	border-radius: 10px;
}

.leftSideBar {
	color: white;
	height: 100%;
	position: fixed;

}

.center-block img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.main img {
	margin-bottom: 10px;
}*/









